body {
  font-family: "Anonymous Pro", monospace;
}

h1 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blink {
  animation: blinking 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
