// Variables
$typewriterSpeed: 2s;
$delayBeforeTypingAnim: 1s;

// Basic Setup
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
p {
  font-family: "Anonymous Pro", monospace;
}

.page {
  width: auto;
  height: 100vh;
}

// Hero Section
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    @media (max-width: 350px) {
      font-size: 2.5rem;
    }
    margin: 0;
    font-size: 3rem;
  }

  h2 {
    margin: 0;
    font-weight: normal;
    position: relative;
    width: max-content;
  }

  h2::before,
  h2::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  h2::before {
    background: white;
    animation: typewriter $typewriterSpeed steps(24) $delayBeforeTypingAnim
      forwards;
  }

  h2::after {
    width: 0.125em;
    background: black;
    animation: typewriter $typewriterSpeed steps(24) $delayBeforeTypingAnim
        forwards,
      blink 750ms steps(24) infinite;
  }

  @keyframes typewriter {
    to {
      left: 100%;
    }
  }

  @keyframes blink {
    to {
      background: transparent;
    }
  }
}

// Projects Section
.projects {
  @media (max-width: 700px) {
    height: 150vh;
  }

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  row-gap: 20px;

  h2 {
    font-size: 2.5rem;
  }

  .project-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
  }

  .project-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 300px;
    height: 330px;
    background: #fefdfb;
    box-shadow: -1px 7px 9px -9px rgba(0, 0, 0, 0.57);
    justify-self: center;
    align-self: center;
    transition: box-shadow 0.4s;
  }

  .project-tile:hover {
    box-shadow: -1px 14px 30px -9px rgba(0, 0, 0, 0.57);
    transition: box-shadow 0.4s;
    cursor: pointer;
  }

  .project-image {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 250px;
    height: 250px;
    margin-top: 8px;
  }

  .project-name {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.15rem;
  }

  .project-name,
  .project-tech {
    color: black;
  }

  a {
    text-decoration: none;
    text-align: center;
  }
}

// About Section
.about-me {
  display: grid;

  @media (max-width: 1100px) {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;

    #about-image-container {
      position: relative;
      width: min(500px, 90%);
      margin: 0 10px 0 10px;
      aspect-ratio: 1;
      justify-self: center;
      align-self: center;
    }

    #about-image {
      object-fit: cover;
      height: 100%;
      width: 100%;
      box-shadow: -1px 7px 9px -9px rgba(0, 0, 0, 0.57);
    }
  }

  @media (min-width: 1100px) {
    grid-template-columns: 1fr 1fr;
    grid-row: auto;

    #about-image-container {
      position: relative;
      width: 500px;
      height: 75%;
      justify-self: center;
      align-self: center;

      #about-image {
        object-fit: cover;
        height: 100%;
        width: 100%;
        box-shadow: -1px 7px 9px -9px rgba(0, 0, 0, 0.57);
      }
    }
  }

  #about {
    width: min(500px, 90%);
    margin: 0 10px 0 10px;
    align-self: center;
    justify-self: center;

    #title {
      font-size: 2.5rem;
    }

    #description {
      text-align: justify;
    }
  }
}

// Contacts Section
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 2.5rem;
  }

  .buttons {
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;

    a {
      color: black;
    }
  }
}

// Misc/helpers
.hidden {
  display: none;
}
