*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
p {
  font-family: "Anonymous Pro", monospace;
}

.page {
  width: auto;
  height: 100vh;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero h1 {
  margin: 0;
  font-size: 3rem;
}
@media (max-width: 350px) {
  .hero h1 {
    font-size: 2.5rem;
  }
}
.hero h2 {
  margin: 0;
  font-weight: normal;
  position: relative;
  width: max-content;
}
.hero h2::before,
.hero h2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hero h2::before {
  background: white;
  animation: typewriter 2s steps(24) 1s forwards;
}
.hero h2::after {
  width: 0.125em;
  background: black;
  animation: typewriter 2s steps(24) 1s forwards, blink 750ms steps(24) infinite;
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  row-gap: 20px;
}
@media (max-width: 700px) {
  .projects {
    height: 150vh;
  }
}
.projects h2 {
  font-size: 2.5rem;
}
.projects .project-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 25px;
}
.projects .project-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 300px;
  height: 330px;
  background: #fefdfb;
  box-shadow: -1px 7px 9px -9px rgba(0, 0, 0, 0.57);
  justify-self: center;
  align-self: center;
  transition: box-shadow 0.4s;
}
.projects .project-tile:hover {
  box-shadow: -1px 14px 30px -9px rgba(0, 0, 0, 0.57);
  transition: box-shadow 0.4s;
  cursor: pointer;
}
.projects .project-image {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 250px;
  height: 250px;
  margin-top: 8px;
}
.projects .project-name {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1.15rem;
}
.projects .project-name,
.projects .project-tech {
  color: black;
}
.projects a {
  text-decoration: none;
  text-align: center;
}

.about-me {
  display: grid;
}
@media (max-width: 1100px) {
  .about-me {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
  }
  .about-me #about-image-container {
    position: relative;
    width: min(500px, 90%);
    margin: 0 10px 0 10px;
    aspect-ratio: 1;
    justify-self: center;
    align-self: center;
  }
  .about-me #about-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    box-shadow: -1px 7px 9px -9px rgba(0, 0, 0, 0.57);
  }
}
@media (min-width: 1100px) {
  .about-me {
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
  }
  .about-me #about-image-container {
    position: relative;
    width: 500px;
    height: 75%;
    justify-self: center;
    align-self: center;
  }
  .about-me #about-image-container #about-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    box-shadow: -1px 7px 9px -9px rgba(0, 0, 0, 0.57);
  }
}
.about-me #about {
  width: min(500px, 90%);
  margin: 0 10px 0 10px;
  align-self: center;
  justify-self: center;
}
.about-me #about #title {
  font-size: 2.5rem;
}
.about-me #about #description {
  text-align: justify;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact h2 {
  font-size: 2.5rem;
}
.contact .buttons {
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
}
.contact .buttons a {
  color: black;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
