// Variables
$typewriterSpeed: 2s;
$delayBeforeTypingAnim: 1s;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Anonymous Pro", monospace;
}

#welcome-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 0;
    font-size: 3rem;
  }

  h2 {
    margin: 0;
    font-weight: normal;
    position: relative;
    width: max-content;
  }

  h2::before,
  h2::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  h2::before {
    background: white;
    animation: typewriter $typewriterSpeed steps(24) $delayBeforeTypingAnim
      forwards;
  }

  h2::after {
    width: 0.125em;
    background: black;
    animation: typewriter $typewriterSpeed steps(24) $delayBeforeTypingAnim
        forwards,
      blink 750ms steps(24) infinite;
  }

  @keyframes typewriter {
    to {
      left: 100%;
    }
  }

  @keyframes blink {
    to {
      background: transparent;
    }
  }
}

.page {
  width: 100vw;
  height: 100vh;

  border: 5px solid red;
}
